<h3> Now you're reading to create your OWN unique pokemon!</h3>


<%= simple_form_for Pokemon.new, url: { action: 'create' } do |f| %>
  <%= f.input :name, hint: 'name your special pokemon', required: true %>
  <%= f.button :submit, label: '*ABRACADABRA TA DA* Create new pokemon!!'%>
<% end %>


